html{
    max-height: 100vh;
    overflow: hidden;
}

body {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

main {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 4%;
    margin-right: 4%;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 12px;
    height: 90%;
    max-height: 80%;
}

main::-webkit-scrollbar {
    display: none;
}

.scroll-container {
    max-height: 50vh;
    overflow-y: scroll;
}

.scroll-container::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  background-color: rgba(245, 245, 245, 0.04);
  box-shadow: whitesmoke;
}

.scroll-container::-webkit-scrollbar
{
  width: 12px;
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.5);
}

.scroll-container::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px  rgba(4, 20, 73, 0.6);
  background-color: rgba(4, 20, 73, 0.6);
  box-shadow: whitesmoke;
}

main section {
    height: 50%;
    max-height: 50%;
    margin: 2%;
    padding: 2%;
}

main.noscrollfrm {
    overflow:hidden;  
}


/* !!!!!!!!!! hoe werken die sort pijlen qua style? */

table {
    overflow-y: auto;
    background-color: rgb(178, 187, 197);
    color: rgb(4, 20, 73);
}

thead th {
    text-align: left;
    position: sticky;
    top:0;
    z-index: 20;
}

thead tr th {
    text-align: center;
    text-justify: center;
}

table tr td {
    color: rgb(4, 20, 73);
}

table tr td a {
    color: rgb(4, 20, 73);
    text-decoration: underline rgb(4, 20, 73) ;
}

table.sortable th:before(.sorttable_sorted_reverse):before(.sorttable_nosort):before { 
    content: " \25B4\25BE";
    /* display: inline-block; */
    
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE";
    /* display: inline-block; */
}

table.sortable th::after, th.sorttable_sorted::after, th.sorttable_sorted_reverse::after {   
    /* display: inline-block; */
    color: chartreuse;
}

table.sortable th::selection, th.sorttable_sorted::selection, th.sorttable_sorted_reverse::selection {
    

    color: chartreuse;
}

table.sortable th::valid, th.sorttable_sorted::valid, th.sorttable_sorted_reverse::valid {
    
    /* display: inline-block; */
    color: chartreuse;
}






.table-btn-edit, .table-btn-del, .table-btn-new {
    color: whitesmoke;
    border-color: rgba(4, 20, 73);
    font-family: IBM Plex Sans,Arial, Helvetica, sans-serif;
    background-color: gray;
    font-size: 10px !important;
}


.table-btn-group {
    font-size: 10px ;
    max-width: max-content;
}


.table-btn-edit:hover {
    color: rgb(5, 50, 5);
    font-family: IBM Plex Sans,Arial, Helvetica, sans-serif;
    background-color: dimgrey;
    border-color: rgba(4, 20, 73);
    font-size: 10px;
    text-shadow: 4px 8px 16px whitesmoke;
}

.table-btn-del:hover {
    color: red;
    font-family: IBM Plex Sans,Arial, Helvetica, sans-serif;
    background-color: dimgrey;
    border-color: rgba(4, 20, 73);
    font-size: 10px;
    text-shadow: 4px 8px 16px whitesmoke;
}

.table-btn-new:hover {
    color: chartreuse;
    font-family: IBM Plex Sans,Arial, Helvetica, sans-serif;
    background-color: dimgrey;
    border-color: rgba(4, 20, 73);
    text-shadow: 4px 8px 16px whitesmoke;
}


/* ====================================================================== */
