/* Swart Background all-pages before loading image */
body {
    background-color: silver;
}

/* Swart Branding css all-pages */
.brand-zw {
    text-transform: uppercase;
    font-weight: bolder;
}

#brand-groot {
    position: absolute;
    top: 5%;
    left: 2%;
    right: 5%;
}

.brand-h1 {
    font-family: IBM Plex Sans,Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    color: rgb(4, 20, 73);
    border-bottom: 2px solid chartreuse;
}

.brand-h2 {
    font-family: IBM Plex Sans,Arial, Helvetica, sans-serif;
    color: rgb(101, 101, 101);
    text-shadow: 5px 5px 20px rgba(255, 253, 253, 0.705);
    text-align: center;
}

.brand-h3 {
    text-transform: uppercase;
    font-family: IBM Plex Sans,Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bolder;
    color:black;
    text-align: center;
    text-shadow: 5px 5px 20px rgb(255, 253, 253);
}

.brand-p3 {
    text-transform: uppercase;
    color:black;
    text-align: center;   
}

.brand-a1 {
    font-family: IBM Plex Sans,Arial, Helvetica, sans-serif;
    color: rgb(4, 20, 73);
    font-size: 16px;
    text-align: center;
    text-shadow: 5px 5px 20px rgb(255, 253, 253);
    background-color: transparent;
    border: none; 
}

.brand-a1:hover {
    text-decoration: underline chartreuse;
}

.brand-footer {
    color: rgb(110,110,110);
}

/* SWART Header & Footer all pages*/
header, footer {
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.main-header {
    position: sticky;
    left: 2%;
    top: 8%;
    margin: 2%;
    margin-top: 5%;
}

.navbar-main-img {
    height: 48px;
    width: auto;
    max-height: 48px;
    max-width: auto;
}

#navbartop, #navbarbottom {
    background-color: rgb(36, 35, 35);
    font-family: IBM Plex Sans,Arial, Helvetica, sans-serif;
    padding-left: 5%;
    padding-right: 5%;
}

#navbartop {
    font-size: 12px;
    color: rgb(110,110,110);
    margin: unset;
}

#navbarbottom {
    font-size: 10px;
    margin: unset;
    padding-bottom: 2px;
}

#navbar-main {
    background-color: transparent;
    font-family: IBM Plex Sans,Arial, Helvetica, sans-serif;
    color: chartreuse;
    font-size: 24px;
    font-weight: bolder;
    padding-left: 5%;
    padding-right: 5%;
    position: sticky;
    left: 2%;
    top: 8%;
    max-width: 20%;
    z-index: 4;
}

.navbar-main-button {
    background-color: rgba(4, 20, 73);
    font-family: IBM Plex Sans,Arial, Helvetica, sans-serif;
    color: whitesmoke;
    /* border: none; */
}

.navbar-main-button:hover {
    background-color: rgb(4, 20, 73);
    color: whitesmoke;
    font-family: IBM Plex Sans,Arial, Helvetica, sans-serif;
    text-shadow: 10px 10px 20px rgba(251, 252, 225, 0.8) ;
    text-decoration: underline chartreuse;
}

.btn-s-mainh {
    color: silver;
    font-family: 'Special Elite', cursive, serif;
    font-size: 8px;
    text-shadow: 1px 1px 8px rgb(177, 182, 147) ;
    text-align: center;
    text-justify: center;
    width: 80px;
    border: none;
}

.btn-s-mainf {
    color: silver;
    font-family: 'Special Elite', cursive, serif;
    font-size: 10px;
    text-shadow: 1px 1px 8px rgb(177, 182, 147) ;
    text-align: center;
    text-justify: center;
    width: 80px;
    border: none;
}

@media (hover: hover) {
    .btn-s-mainh :hover {
      color: rgb(112, 101, 79);
      text-shadow: 3px 3px 12px silver;
      font-weight: 600;
    }
    .btn-s-mainf :hover {
        color: rgb(99, 87, 65);
        text-shadow: 3px 3px 12px silver;
        font-weight: 600;
    }
}

.btn-success {
    background-color:rgba(53, 203, 223, 0.4);
    color: black;
    text-shadow: 10px 10px 20px rgba(251, 251, 221, 0.8) ;
    border: solid 2pxrgb(4, 20, 73);
}

.btn-success:hover, .btn-success:focus {
    background-color:rgba(53, 203, 223, 0.8);
    color: black;
    text-shadow: 10px 10px 20px rgba(251, 251, 221, 0.8) ;
    border: solid 2px chartreuse;
    font-size: 110%;
}
