header, footer {
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

body {
    background-image: url("../img/daniel-olah-srFhtP2Isv4-unsplashcut.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: scroll; */
    /* background-blend-mode: hard-light; */
    /* background-position: fixed; */
    background-position:center;
    /* background-position: 25% -50%; */
}

#navbar-main {
    background-color:silver;
    padding-left: 5%;
    padding-right: 5%;
    position: fixed;
    left: 2.5%;
    top: 24%;
    max-width: 20%;
}

main {
    background-color: rgba(192, 192, 192, 0.356);
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 5%;
    padding-left: 4%;
    padding-right: 2%;
}