
/* html { 
    background: url("../img/ravi-pinisetti-1zikZJVXSfA-unsplash.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */


header, footer {
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.main-header {
    margin-top: 5%;
}

body{
    background-image: 
        url("../../static/img/background/ravi-pinisetti-1zikZJVXSfA-unsplash.jpg");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
}


#navbar-main {
    background-color: transparent;
    font-family: IBM Plex Sans,Arial, Helvetica, sans-serif;
    color: chartreuse;
    font-size: 24px;
    font-weight: bolder;
    padding-left: 5%;
    padding-right: 5%;
    position: sticky;
    left: 2%;
    top: 8%;
    max-width: 20%;
    z-index: 4;
}

.navbar-main-img {
    height: 48px;
    width: auto;
    max-height: 48px;
    max-width: auto;
}

main {
    margin-top: 20%;
    margin-bottom: 10%;
    margin-left: 25%;
    margin-right: 4%;
    padding-left: 4%;
    padding-right: 2%;
    font-family: 'Playfair Display', serif;
    font-size: 12px;
}

.card-header-main {
    color: black;
    font-size: 24px;
    font-weight: bolder;
}

.sw-list-text {
    font-size: 16px;
    /* font-style: italic; */
    margin: 0%;
    padding: 4px;
}

#card-body-main {
    background-color:rgba(53, 203, 223, 0.15);
    border: none;
}

#card-body-main img {
    opacity: 0.8;
    border:solid 1px silver;
}

#card-body-main:hover {
    background-color:rgba(53, 203, 223, 0.3);
    border:solid 1px chartreuse;
    opacity: 1;
}

#card-text-main {
    background-color: transparent;
}

.sw-btn-card {
    background-color:rgba(53, 203, 223, 0.3);
    border-color: chartreuse;
    color: black;
    margin: 5%;
}

.story-main {
    background-color:rgba(53, 203, 223, 0.15);
    padding: 8px;
}

.btn-success:hover {
    background-color:rgba(53, 203, 223, 0.5);
    color: black;
    text-shadow: 10px 10px 20px rgba(251, 252, 225, 0.8) ;
    border: solid 2.5px chartreuse;
    font-size: 125%;
}