
/* html { 
    background: url("../img/ravi-pinisetti-1zikZJVXSfA-unsplash.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */


header, footer {
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 2%;
    margin-right: 2%;
}


body{
    background-image: url("../img/ravi-pinisetti-1zikZJVXSfA-unsplash.jpg");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
}


#navbar-main {
    background-color: transparent;
    font-family: IBM Plex Sans,Arial, Helvetica, sans-serif;
    color: chartreuse;
    font-size: 24px;
    font-weight: bolder;
    padding-left: 5%;
    padding-right: 5%;
    position: sticky;
    left: 2%;
    top: 8%;
    max-width: 20%;
}

.navbar-main-img {
    height: 48px;
    width: auto;
    max-height: 48px;
    max-width: auto;
}


main {
    margin-top: 20%;
    margin-bottom: 10%;
    margin-left: 25%;
    margin-right: 4%;
    padding-left: 4%;
    padding-right: 2%;
    font-family: 'Playfair Display', serif;
    font-size: 12px;
}

.sw-list-text {
    font-size: 12px;
    font-style: italic;
    margin: 0%;
    padding: 2px;
}

.card-header-main {
    color: black;
    font-size: 24px;
    font-weight: bolder;
}


#card-body-main {
    background-color:rgba(53, 203, 223, 0.15);
    border: none;
}

#card-body-main img {
    opacity: 0.5;
    border:solid 1px chartreuse;

}

#card-text-main {
    background-color: transparent;
}

.sw-btn-card {
    background-color:rgba(53, 203, 223, 0.3);
    border-color: chartreuse;
    color: black;
}

.story-main {
    background-color:rgba(53, 203, 223, 0.15);
    padding: 8px;
}